/* ==========================================================================
   SITE STYLES
   ========================================================================== */

/* Preserve some sanity */
html {
    box-sizing: border-box;
    height: 100%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    height: 100%;
    font-family: 'Lato', serif;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 400;
    color: #222;
    background-color: #fff;
    -webkit-text-size-adjust: 100%;
}

/* Reset some basic elements */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

/* Images */
img {
    max-width: 100%;
    vertical-align: middle;
}

/* Links */
a {
    color: #0074D9;
    text-decoration: none;
    transition: color 0.3s ease;
    &:visited {
        color: #0074D9;
    }
    &:hover {
        color: #001f3f;
        cursor: pointer;
        text-decoration: underline;
    }
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}





.wrapper {
    max-width: 800px;
    padding: 20px;
    margin: 0 auto;
}

label,
input,
div {
    margin-bottom: 10px;
}

.button {
    background: #0074D9;
    border: 0;
    color: white;
    padding: 10px;
    transition: background .3s;
    text-align: center;
}
.button:visited {
    color: white;
}
.button:hover {
    background: #001f3f;
}
.button:active {
    transform: translateY(1px);
}


.button.secondary {
    background: #DDDDDD;
    color: #222;
}
.button.secondary:visited {
    color: #222;
}
.button.secondary:hover {
    background: #AAAAAA;
}


.button ~ .button {
  margin-left: 10px;
}

.grid {
    display: block;
    width: 100%;
}
.unit {
    float: left;
    padding: 5px;
}
.unit > .unit { padding: 0; }

.half {
    width: 50%;
}


.select-wrapper > select {
   border: 0;
   color: #222;
   background: transparent;
   padding: 2px 10px;
   width: 378px;
   *width: 350px;
   *background: white;
   -webkit-appearance: none;
}

.select-wrapper {
   overflow:hidden;
   width:350px;
   border-radius: 3px;
   /*box-shadow: 1px 1px 11px #330033;*/
   border: 1px solid gray;
   background: white url("http://i62.tinypic.com/15xvbd5.png") no-repeat scroll 319px center;
}

.ads {
  text-align: center;
}
.ads > a {
  margin-right: 20px;
}

.site-footer {
  border-top: 1px solid gray;
  padding: 10px;
  text-align: center;
}